services:
  mlflow:
    image: ghcr.io/mlflow/mlflow:v2.10.0
    container_name: mlflow_server
    ports:
      - "5000:5000"
    volumes:
      - ./mlruns:/mlruns
    command: >
      mlflow server 
      --backend-store-uri sqlite:///mlruns/mlflow.db
      --default-artifact-root file:///mlruns
      --host 0.0.0.0

  redis:
    image: redis:7-alpine
    container_name: redis_feature_store
    ports:
      - "6379:6379"

  trainer:
    build:
      context: .
      dockerfile: infrastructure/Dockerfile.api
    container_name: fraud_trainer
    environment:
      - REDIS_HOST=redis
      - MLFLOW_TRACKING_URI=http://mlflow:5000
    depends_on:
      - redis
      - mlflow
    volumes:
      - ./mlruns:/mlruns
      - ./src:/app/src
      - ./data:/app/data
    command: >
      sh -c "
      python src/utils/generate_data.py &&
      python src/models/train.py
      "

  api:
    build:
      context: .
      dockerfile: infrastructure/Dockerfile.api
    container_name: fraud_api
    ports:
      - "8000:8000"
    environment:
      - MLFLOW_TRACKING_URI=http://mlflow:5000
      - REDIS_HOST=redis
    depends_on:
      - redis
      - mlflow
      - trainer
    volumes:
      - ./mlruns:/mlruns
      - ./src:/app/src
      - ./data:/app/data
    command: uvicorn src.service.app:app --host 0.0.0.0 --port 8000
